<%- include('partials/head') %> 
<%- include('partials/header') %> 
<div class="container">
    <div class="imgbox">
        <img src="img/<%= filenameProfilePic %> " alt="">
    </div>
    <div class="headingbox">
        <span><%= name %></span>
    </div>
    <div class="linkbox">
        
    </div>
</div>
<%- include('partials/footer') %> 