<%- include('partials/head') %> 
<%- include('partials/header') %> 
<div class="container">
    <div class="imgbox">
        <img src="img/<%= filenameProfilePic %> " alt="">
    </div>
    <div class="headingbox">
        <h1><%= name %></h1>
    </div>
    <div class="linkbox">
        <% links.forEach(link => { %>
        <a href="<%= link.hyperlink %>"> 
            <button class="<%= `${link.brandcolor} ${link.color}` %>"><%= link.text %></button>
        </a>
        <% }) %>
    </div>
</div>
<%- include('partials/footer') %> 