<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css" integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY=" crossorigin="anonymous">
    <link rel="stylesheet" href="style/<%= theme %>.css">
    <% if(theme === '98') { %>
        <link rel="stylesheet" href="https://unpkg.com/98.css">
    <% } %>
    <% if(roundPB) { %>
        <link rel="stylesheet" href="style/round-pb.css">
    <% } %>
    <title><%= name %> - SocialTree</title>
    <meta property="og:title" content="<%= name %> - SocialTree">
    <meta property="og:image" content="img/<%= filenameProfilePic %>">
    <meta property="description" content="<%= metaDescription %>">
    <meta property="og:description" content="<%= metaDescription %>">
    <meta property="og:site_name" content="<%= siteName %>">
    <meta property="og:url" content="<%= url %>">
    <meta property="twitter:image:src" content="img/<%= filenameProfilePic %>">
    <meta property="twitter:card" content="summary">
    <meta property="twitter:title" content="<%= name %> - SocialTree">
    <meta property="twitter:description" content="<%= metaDescription %>">
</head>
